body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.heading-primary {
  font-size: 6rem;
  line-height: 7rem;
  font-family: inherit;
  font-weight: 900;
  color: $color-secondary;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-family: inherit;
  font-weight: 900;
  color: $color-secondary;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  color: $color-secondary;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #505056;
}

.paragraph-secondary {
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: 500;
}
